.head{
  color: black;
  font-weight: 600;
}

.head:hover{
  opacity: .5;
}

.header__link{
  padding-right: 6px;
  padding-top: .75rem;
  color: black;
  font-weight: 400;
}


.header__logo{
  color: black;
}

.hamburger__btn{
  fill: black;
}

.about-container{
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: auto 3rem;
  gap: 3rem;
  margin-top: 5.5rem;
  font-size: 10px;
  background-color: rgba(247, 247, 247, .45);
}

.about1{
  position: relative;
}

.about1 h2{
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: .15px;
  padding: 1.6rem 2.5rem;
  background-color: white;
  text-align: center;

}

.about-span{
  width: 2.5rem;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 3px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 1.5rem;
  text-align: center;
  background-color: white;  
}

.about-banner-text{
  position: absolute;
  font-size: 2rem;
  bottom: -2.5rem;
  right: 8px;
  color: black;
  font-family: "Playfair Display", serif;
  font-style: italic;
  /* width: 235px; */
  z-index: 15;
}

.about-banner-img{
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Custom;
  font-size: 6.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  bottom: -2rem;
  background: url(/img/Raimer002.jpg);
  background-position: center bottom 50%;
  background-size: cover;
  max-width: 2624px;
  height: 75vh;
  top: 0;
  opacity: 1;
  filter: grayscale(100%);
}

.about1{
  flex: 1;
  max-width: 300px;
  
}

.about2{
  max-width: 300px;
  flex: 1;
  position: relative;
}

.about2-img{
  border: 10px solid white;
  border-bottom: 3rem solid white;
}

.about2-span{
  position: absolute;
  bottom: 10px;
  right: 1rem;
  font-family: Marker ;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  color: black;
}

.about3 h3{
  font-weight: 400;
  letter-spacing: .15px;
  line-height: 1.75rem;
  font-size: 15px;
  width: 300px;
  padding: 1.6rem 2.5rem;
  background-color: rgb(25, 25, 25);
  color: white;
  text-align: center;
}


.filmstrip {
  /* background: rgba(0, 0, 0, .35); */
  size: 10px;
  
  background:
   conic-gradient(at 50% 1rem, rgb(25, 25, 25) 75%,rgba(125, 125, 125, 0.1) 0)
   0 0/calc(1.65*14px) calc(100% - 18px) padding-box;

  border: 6px solid rgb(26, 26, 26);
  padding: calc(10px * 2.25);
}

.filmstrip2 {
  /* background: rgba(0, 0, 0, .35); */
  size: 10px;
  
  background:
   conic-gradient(at 12px,rgb(25, 25, 25) 75%,rgba(25, 25, 25, 0) 0)
   0 0/calc(100% - 12px) calc(2*16px) padding-box;
   
  border: 4px solid black;
  padding: calc(8px * 2.1);
  border-bottom: 3rem solid rgb(25, 25, 25);
}

/* .fun-gif{
  border: none;
} */

.fa-arrow-turn-up{
  position: absolute;
  left: -2rem;
  top: 12rem;
  font-size: 2rem;
  transform: rotate(90deg);
}

.arrow-text{
  position: absolute;
  left: -4rem;
  font-family: Custy;
  font-size: 2rem;
  
}

.about-container-bottom{
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* margin: auto 3rem; */
  padding-top: 3rem;
  font-size: 10px;
  flex-direction: column;
}

.about-text{
  position: relative;
  bottom: 3.25rem;
}

.about-text-film{
  position: relative;
  bottom: 3.25rem;
}

.about-fun-facts{
  position: relative;
  margin-top: 15rem;
}

.about-fun-top-text{
  font-family: Custy;
  font-size: 3.5rem;
  font-weight: 100;
  transform: rotate(-15deg);
  position: absolute;
  left: 4rem;
  top: -12rem;
}

.about-fun-top-text span{
  position: relative;
  top: 8px;
  left: -4px;
  font-weight: 600;
  font-size: 3.5rem;
}

.about-fun-left {
  padding-bottom: 4rem;
  width: 300px;
}

.about-fun-right {
  padding-bottom: 4rem;
  position: relative;
  left: 0;
  width: 286px;
}

.about-fun-img{
  width: 300px;
}

.fun-img{
  border: 10px solid white;
  border-bottom: 3rem solid white;
}

/* 
.about-fun-title{
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  padding: 1.5rem 4px 1rem 4px;
  letter-spacing: 2px;
  text-align: center;
  color: black;
} */
.about-fun-title{
  font-family: Marker ;
  font-size: 13px;
  font-weight: 100;
  padding: 1.5rem 4px 1rem 4px;
  letter-spacing: 2px;
  text-align: center;
  color: black;
}

.about-fun-title span{
  padding: 0 10px;
}

.about-fun-text{
  max-width: 300px;
  padding: .5rem 4px;
  /* text-align: center; */
  /* text-transform: uppercase; */
  font-size: 14px;
  letter-spacing: 1px;
}

.fun-film{
  color: white;
}

.about-space{
  display: none;
}

.about-contact-banner{
  background-color: rgba(247, 247, 247, .45);
  padding: 3rem;
  position: relative;
  top: 3rem;
}

.about-contact-button{
  padding: 1.5rem 2rem;
  font-size: 1rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 100;
  position: relative;
  border: none;
  letter-spacing: 3px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
}

.about-contact-button:hover{
  opacity: .5;
}


/* s */
@media (min-width: 360px) {

  .about-fun-right {
    padding-bottom: 4rem;
    position: relative;
    left: 3.75rem;
    width: 300px;
  }

  .about-fun-top-text{
    left: 6rem;
    font-size: 4.25rem;
  }

  .about1 h2{
    padding: 1.5rem;
  }

  /* .about3 h3{
    padding: ;
  } */

}


/* xs */
@media (min-width: 475px) {
  .about-container{
    position: relative;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin: auto 2rem;
    gap: 3rem;
    margin-top: 5.25rem;
    font-size: 10px;
  }

  .about-fun-left {
    position: relative;
    width: 300px;
    left: .5rem;
}
  
  .about-fun-right {
    padding-bottom: 4rem;
    position: relative;
    left: 11rem;
    width: 300px;
  }

  
  .about-fun-top-text{
    left: 15rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .about-container{
    position: relative;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: top;
    margin: auto 4rem;
    gap: 4rem;
    margin-top: 6rem;
    font-size: 10px;
  }

  .about-fun-left {
    position: relative;
    width: 300px;
    left: 4rem;
}

  .about-fun-right {
    padding-bottom: 4rem;
    position: relative;
    left: 20rem;
    width: 300px;
  }

  .about-fun-top-text{
    left: 26rem;
  }

  
}

/* md */
@media (min-width: 768px) {

  .header__link{
    /* padding-top: .75rem; */
    padding-top: 0rem;
  }
  

  .about2-span{
    top: 5rem;
    right: 2rem;
    z-index: 10;
  }

  .about-container{
    flex-direction: row;
  }

  .about-banner-text{
    font-size: 4.5rem;
    bottom: -1.85rem;
  }

  .about-container-bottom{
    flex-direction: row;
    align-items: center;
    gap: 5rem;
  }

  .about2-img{
    position: relative;
    bottom: 23rem;
  }

  .about3 h3{
    position: relative;
    bottom: 15rem;
  }

  .about-fun-title{
    width: 300px;
    max-width: initial;
  }

  .fun-film{
    color: white;
  }

  .about-fun-text{
    width: 300px;
    max-width: initial;
  }

  .about-fun-facts{
    position: relative;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-fun-left {
    padding-bottom: 10rem;
    position: relative;
    width: 300px;
    right: 14rem;
    left: initial;
}

  .about-fun-right {
    padding-bottom: 4rem;
    position: relative;
    left: 14rem;
    width: 300px;
  }

  .about-fun-top-text{
    left: 32rem;
    top: 6rem;
  }

  .left-1{
    top: 19rem;
  }

  .right-1{
    bottom: 0rem;
    top: 0rem;
  }

  .left-2{
    bottom: 27rem;
  }

  .right-2{
    bottom: 51rem;
  }

  .about-fun-img{
    width: 300px;
  }

  .footer__logo{
    margin-top: 0;
  }

  .about-space {
    display: block;
    position: relative;
    bottom: 30rem;
    /* background-image: url(/img/CTG-News3.jpg); */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    /* height: 50vh; */
    margin-top: -16rem;
    margin-bottom: -32rem;
  }

  .about-space button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
  }

  .about-contact-banner{
    padding: 6rem;
    top: initial;
    bottom: 3rem;
  }

  .about-contact-button{
    padding: 4rem;
  }
}

/* Lg */
@media (min-width: 1024px) {

  .about2-span{
    bottom: 10.75rem;
    right: -1rem;
    top: inherit;
    z-index: 10;
  }

  .about-fun-img{
    width: 380px;
  }

  .about-fun-top-text{
    left: 42rem;
  }

  .about-fun-title{
    width: 400px;
    max-width: initial;
  }

  .fun-film{
    color: white;
  }


  .about-fun-text{
    width: 400px;
    max-width: initial;
  }

  .about2-img {
    position: relative;
    bottom: 10rem;
    left: 3rem;
}

  .about1 h2{
    position: relative;
    width: 500px;
    right: 9rem;
    padding: 2rem 3rem;

  }

  .about3 h3{
    position: relative;
    bottom: 0rem;
    width: 500px;
    padding: 2rem 3rem;

  }

  .about-gif{
    position: relative;
    right: 3rem;
  }

  .about-container-bottom{
    gap: 2rem;
  }

  

}

/* xL */
@media (min-width: 1288px) {
  .about-fun-top-text{
    left: 46rem;
  }
}

/* 2xL */
@media (min-width: 1536px) {
  .about-fun-top-text{
    left: 60rem;
  }
}  
