.about-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: top;
  margin: auto 4rem;
  gap: 3rem;
  font-family: Header;
  margin-top: 4rem;
  font-size: 10px;
}

.about1 h2{
  line-height: 1.75rem;
  font-weight: 100;
}

.about1,
.about2{
  flex: 1;
  max-width: 300px;
}

.about2{
  max-width: 400px;
}
