#nav{
  display: flex;
  justify-content: space-between;
  position: inherit; 
  align-items: center;
  top: 0;
  right: 0;
  left:0;
  z-index: 100;
  padding: 1rem 1rem 1.5rem;
  /* margin-bottom: .85rem; */
  transition: background-color .4s ease-in-out; 
}

#navbar{
  z-index: 100;
}

.header__logo{
  color: black;
  z-index: 1;
}

.hamburger__btn{
  fill: black;
}

.contact-banner-img{
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Custom;
  font-size: 6.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  bottom: -2rem;
  background: url(/img/Weddings/wed12.jpg);
  background-position:center bottom 55%;
  background-size: cover;
  /* background-attachment: fixed; */
  max-width: 2624px;
  height: 75vh;
  top: 0;
  opacity: 1;
  /* filter: grayscale(100%); */
  z-index: 1;
}

.contact-banner-subtext{
  position: absolute;
  font-size: 10px;
  color: white;
  letter-spacing: 3px;
  font-family: "Varela Round", sans-serif;
  min-width: 260px ;
  text-align: center;
  text-transform: uppercase;
  /* transform: rotate(-90deg); */
  bottom: .5rem;
  left: .5rem;
}

.contact-banner-text{
  position: absolute;
  font-size: 2rem;
  bottom: -2.5rem;
  right: 8px;
  color: black;
  font-family: Custy;
  font-family: "Playfair Display", serif;
  font-style: italic;
  /* width: 235px; */
  z-index: 15;
}

.contact-text{
  z-index: 15;
  position: relative;
  padding: 4rem 1rem 3rem;
  margin: 3rem auto 0 ;
  max-width: 1250px;
}

.contact-text-title{
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.contact-text-subtext{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .25px;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
}

.contact-container{
  position: relative;
  z-index: 15;
  padding: 4rem;
}

/* .contact-container p{
  background-color: white;
  padding: 2rem;
} */


.contact__mail{
  position: relative;
  max-width: 100%;
  margin: 0 auto ;
  flex: 1;
  /* border: 3px dotted orange; */
  width: 92%;
}

.contact__form,
.contact__group{
  display: grid;
  row-gap: 2.5rem;
}

.contact__group{
  display: flex;
  gap: 2rem;
}

.contact__form{
  position: relative;
}

.contact__box{
  position: relative;
  width: 100%;
  height: 58px;
}

.contact__input,
.contact__button{
  outline: none;
  border: none;
}

.contact__input{
  position: absolute;
  width: 100%;
  height: 70%;
  /* border-bottom: 1.25px solid rgb(210, 150, 150, .4); */
  color: rgb(0, 0, 0);
  padding: 1rem .5rem;
  border: 1px solid rgba(85, 85, 85, 0.5);
  transition: border .2s, background-color .2s;
}

/* .contact__input:hover{
  border-bottom: 1px solid rgb(210, 200, 200);
} */

/* .contact__input::placeholder{
  transition: opacity 1s; 
} */

.contact__input:focus{
  /* border-bottom: 1px solid rgb(210, 200, 200); */
  transition: 10ms ;
}

.contact__input:-webkit-autofill{
  transition: background-color 6000s, color 6000s;
}

.contact__label{
  position: absolute;
  top: -26px;
  left: 0;
  /* color: rgb(99, 99, 99); */
  color: rgb(0, 0, 0);
  pointer-events: none;
  transition: top .4s, opacity .4s, background-color .4s;
  opacity: 1;
  /* width: 200px; */
  letter-spacing: 3px;
  font-size: 14px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.contact__form .contact__area{
  height: 8rem;
}

.contact__area textarea{
  resize: none;
  padding-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;

}

.contact-button{
  padding: 1rem 2rem;
  font-size: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2rem;
  background-color: rgba(25, 25, 25, 0.9);
  color: white;
  font-family: "Varela Round", sans-serif;
  border-radius: 2px;
  border: none;
  font-weight: 100;
  letter-spacing: 1.5px;
  transition: color 250ms ease, background-color 250ms ease-in-out;

}

.contact-button:hover{
  background-color: rgb(110, 110, 110);
  color: white;
  border: none;
}


.contact__input::placeholder{
  opacity: 0;
}

/* Hide placeholder */
.contact__input:focus::placeholder{
  opacity: 0;
}

/* Move Label after typing*/
.contact__input:focus + .contact__label,
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
  opacity: 1;
  top: -22.5px
}

.contact__message{
  color: black;
  font-size: 2.5rem;
  position: absolute;
  bottom: -5rem;
  left: 50%;
  width: 250px;
  text-align: center;
  transform: translateX(-50%);
  /* font-weight: bold; */
  font-family: Custy;
  color: rgba(0, 0, 0, 0.6);
}

.contact__message2{
  color: black;
  font-size: .9rem;
  position: absolute;
  bottom: 6rem;
  left: 50%;
  width: 250px;
  text-align: center;
  transform: translateX(-50%);
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.contact__message3{
  color: black;
  font-size: .9rem;
  position: absolute;
  bottom: 6rem;
  left: 50%;
  width: 250px;
  text-align: center;
  transform: translateX(-50%);
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.contact__image{
  display: none;
}


/* Mobile */
@media (min-width: 330px) {
  .contact-container{
    position: relative;
    z-index: 15;
    padding: 4rem;
  }
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {

  
.contact-text-title{
  font-size: 2.5rem;
  text-align: left;
}

.contact-text-subtext{
  text-align: left;
  font-size: 1rem;
}
  
  .contact-banner-text{
    font-size: 4.5rem;
    bottom: -2.25rem;
  }

  /* .contact-banner-subtext{
    transform: rotate(-90deg);
    bottom: 10.5rem;
    left: -8.5rem;
  } */

  .contact-container{
    background-color: rgba(247, 247, 247, .85);
    position: relative;
    z-index: 15;
    padding: 4rem 6rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }

  .contact__mail{
    width: 50%;
    flex: 1;
    position: relative;
    top: 2rem;
  }

  .contact__image{
    display: block;
    position: relative;
    width: 35%;
    flex: 1.25;
   }

  /* .contact__image img{
    border: 10px solid white;
    border-bottom: 3rem solid white;
   }
   */
   .contact-subtext{
    font-family: Marker;
    font-size: .75rem;
    position: absolute;
    right: 2rem;
    bottom: .5rem;
  }

}

/* Lg */
@media (min-width: 1024px) {

  .contact-container{
    padding: 4rem 8rem;
    gap: 4rem;
  }

  .contact__mail{
    top: 0rem;
    flex: 1.5;
  }

  /* .contact__image{
    bottom: 3rem;
   } */

}

/* xL */
@media (min-width: 1288px) {
  
  .contact-container {
    padding: 4rem 12rem;
    gap: 10rem;
    margin: 0 auto;
    max-width: 1600px;
  }
}

/* 2xL */
/* @media (min-width: 1536px) {}   */