.contact-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: Header;
  max-width: 360px;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.contact-container p{
  line-height: 2rem;
}