.footer__logo{
  font-size: 3.25rem;
  font-family: Custy;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 6rem;
}

.footer__copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding-bottom: 8px;
}

.footer__socials{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 14px;
  gap: 4px;
}