.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #dfd9b6;
  padding: 1rem;
  height: 17rem;
}

.footer__title{
  text-align: center;
}

.footer__logo{
  font-family: DREAM;
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.footer__botlogo{
  font-family: Dream;
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.footer__sub-logo{
  font-family: "Poppins", serif;
  font-style: normal;
  font-size: .55rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.footer__text{
  font-family:  "Cormorant Garamond", serif;
  font-style: normal;
  font-size: 16px;
  max-width: 500px;
  font-weight: 100;
  text-align: center;
}

.footer ul li{
  list-style: none;
  color: black;
 
}

.footer ul li a{
  color: black;
  letter-spacing: .5px;
  font-weight: 200;
  font-size: 7px;
}

.footer ul li a:hover{
 color: #dfd9b6;
}

.footer__left ul{
  position: relative;
  /* display: none; */
  flex-direction: column;
  gap: 10px;
}

.footer__mid{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.footer__right ul{
  position: relative;
  /* display: none; */
  flex-direction: column;
  gap: 10px;
}

.socials__icons{
  position: relative;
  right: .2rem;
}

.socials__icons a{
 cursor: pointer;
 color: inherit;
}

.socials__icons a:hover{
 color: #dfd9b6;
}

.fa-pinterest{
  padding-left: .5rem;
  padding-right: .5rem;
}

.footer__credit{
  font-size: 6px;
}

.credit__name a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-family: Dream;
}

.credit__name a:hover{
  opacity: .6;
}

.copyright{
  background-color: #dfd9b6;
  position: relative;
}

.footer__copyright{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: .75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 0;
  letter-spacing: 1.5px;
  font-size: 6.25px;
}

.footer__back{
  font-family: Camron;
  position: absolute;
  bottom: .35rem;
  right: .35rem;
  font-size: 6px;
  font-weight: 900;
  cursor: pointer;
}

.footer__back::after{
  content: '^';
  position: absolute;
  bottom: .5rem;
  right: 1.65rem;
  font-size: 8px;
  font-weight: 100;
}

.footer__back:hover{
  opacity: .95;
}

.footer__back a{
  text-decoration: none;
  color: inherit;
}

/* xs */
/* @media (min-width: 325px) {} */

/* xs */
@media (min-width: 475px) {
  
  .footer ul li{
    list-style: none;
    color: black;
  }
  
  .footer ul li a{
    color: black;
    letter-spacing: 1.15px;
    font-weight: 100;
    font-size: 10px;
  }

  .footer__copyright{
    font-size: 8.5px;
    /* width: 90%; */
  }

  .footer__credit{
    font-size: 7.5px;
  }

  .footer__back{
    font-family: Camron;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 8px;
    font-weight: 900;
  }
  
  .footer__back::after{
    content: '^';
    /* font-family: Camron; */
    position: absolute;
    bottom: .75rem;
    right: 2rem;
    font-size: 12px;
    font-weight: 900;
  }

}

/* sm */
@media (min-width: 640px) {
  
  .title__logo{
    color: white;
    font-family: DREAM;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .title__botlogo{
    color: white;
    font-family: Dream;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  .footer__copyright{
    flex-direction: column;
    justify-content: space-between;
    /* width: 80%; */
    font-size: 8.5px;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1288px) {} */

/* 2xL */
/* @media (min-width: 1536px) {}   */
