#nav{
  display: flex;
  justify-content: space-between;
  position: inherit; 
  align-items: center;
  top: 0;
  right: 0;
  left:0;
  z-index: 100;
  padding: 1rem 1rem 1.5rem;
  /* margin-bottom: .85rem; */
  transition: background-color .4s ease-in-out; 
}

.header__logo{
  color: black;
}

ul li a{
  color: black;
}

/* .header__link{
  padding-top: .75rem;
  padding-top: .05rem;
} */

.hamburger__btn{
  fill: black;
}

.gallery-banner{
  background-color: rgba(247, 247, 247, .75);
}

.gallery-banner-img{
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Custom;
  font-size: 6.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  bottom: -2rem;
  background: url(/img/Weddings/wed12.jpg);
  background-position:center bottom 90%;
  background-size: cover;
  max-width: 2624px;
  height: 70vh;
  top: 0;
  opacity: 1;
  /* filter: grayscale(82%); */
}

.gallery-banner-title{
  letter-spacing: 6px;
  font-family: "Varela Round", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  padding: 4rem 0;
  color: rgba(0, 0, 0, 0.65);
  position: relative;
  text-align: center;
  align-items: center;
}

.gallery-banner-subtitle{
  letter-spacing: 6px;
  font-family: Custy;
  font-weight: 100;
  font-size: 3.25rem;
  color: rgb(0, 0, 0);
  position: relative;
  bottom: 3rem;
  text-align: center;
}

.gallery-1{
  display: flex;
  width: 200px;
  height: 400px;
}


.gallery-1 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.portraits-gallery{
  width: 100%;
  border: none;
  margin-left: auto;
  padding-left: 0;
  margin-right: auto;
  padding: 0 1rem;
  /* background-color: rgba(247, 247, 247, .75); */
}

.gallery-title-text{
  font-weight: 100;
  font-family: Custy;
  text-align: center;
  font-size: 38px;
  letter-spacing: 2px;
}

.gallery-title-subtext{
  font-weight: 100;
  font-size: 10px;
  text-align: center;
  position: relative;
  top: -8px;
}


img{
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.row{
  width: 50%;
  float: left;
  padding-bottom: 18px !important;
}

.odd{
  padding-right: 12px !important;
    padding-left: 0px !important;
}
.even{
  padding-right: 0px !important;
    padding-left: 12px !important;
}

.landscape{
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 15px !important;
}

.gal-row{
  padding-bottom: 2rem !important;
}

.gal-odd{
  padding-right: 12px !important;
    padding-left: 12px !important;
}
.gal-even{
  padding-right: 12px !important;
    padding-left: 12px !important;
}

.image-container .box{
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
  
}

.image-container .box img{
  max-width: 100%;
  border-radius: 2px;
}

.popup-image{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  bottom: 0;
  background: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  z-index: 100000;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  /* overflow-y: hidden; */
  scrollbar-width: none;
}

.popup-image img{
/* width: 100%; */
height: 97vh;
max-width: 100%;
object-fit: contain;
}

.popup-image span{
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 3rem;
  /* font-weight: bolder; */
  cursor: pointer;
  color: black;
  z-index: 100;
}

.popup-image span:hover{
  cursor: pointer;
  /* color: red; */
  opacity: .5;
}

.popup-image img {
  transition: transform 0.25s ease;
  /* cursor: zoom-in; */

}

.slide{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.75rem;
  cursor: pointer;
  font-weight: 100;
}

.prev,
.next{
  display: none;
}

.prev:hover,
.next:hover{
  /* color: rgba(0, 0, 0, 0.75); */
  opacity: .5;
}


.prev{
  left: 1rem;
  display: none;
}

.next{
  right: 1rem;
  display: none;
}



input[type=checkbox] {
  display: none;
}


input[type=checkbox]:checked ~ label > img {
  transform: scale(2);
  cursor: zoom-out;
}



.work{
  max-width: 2624px;
  width: 90%;
  margin: auto;
  padding: 4rem 0;
}

.work__title{
  margin-bottom: 7rem;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Custom;
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.work__gallery{
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

/* .work__gallery{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work__column{
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

.work__column{
  position: relative;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: dense;
  gap: 8px;
}

.work__photo{
  cursor: default;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}


.work__photo:nth-child(2){
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.work__photo:nth-child(3){
  grid-column-start: span 2;
  grid-row-start: span 3;
}
.work__photo:nth-child(4){
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.work__photo:nth-child(5){
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.work__photo:nth-child(6){
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.work__photo:nth-child(7){
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.work__photo:nth-child(8){
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.work__photo:nth-child(9){
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.work__photo:nth-child(10){
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.work__photo:nth-child(11){
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.work__photo:nth-child(12){
  grid-column-start: span 1;
  grid-row-start: span 2;
}
.work__photo:nth-child(13){
  grid-column-start: span 1;
  grid-row-start: span 2;
}
.work__photo:nth-child(14){
  grid-column-start: span 4;
  grid-row-start: span 1;
}
.work__photo:nth-child(15){
  grid-column-start: span 1;
  grid-row-start: span 2;
}
.work__photo:nth-child(16){
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.work__photo:nth-child(17){
  grid-column-start: span 3;
  grid-row-start: span 1;
}
.work__photo:nth-child(18){
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.work__photo:nth-child(19){
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.work__photo:nth-child(20){
  grid-column-start: span 4;
  grid-row-start: span 1;
}
.work__photo:nth-child(21){
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.work__photo:nth-child(22){
  grid-column-start: span 2;
  grid-row-start: span 3;
}

.work__photo:nth-child(23){
  grid-column-start: span 1;
  grid-row-start: span 2;
}
.work__photo:nth-child(24){
  grid-column-start: span 1;
  grid-row-start: span 2;
}
.work__photo:nth-child(25){
  grid-column-start: span 4;
  grid-row-start: span 2;
}
.work__photo:nth-child(26){
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.work__photo:nth-child(27){
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.work__photo:nth-child(28){
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.work__photo:nth-child(29){
  grid-column-start: span 2;
  grid-row-start: span 1;
}




.work__photo img{
  width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
}

.image__wrapper{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.image__wrapper img{
  width: 90%;
  max-width: 500px;
}


.image__wrapper span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
}


.gal-contact-banner{
  background-color: rgba(247, 247, 247, .45);
  padding: 2rem 3rem 3rem 3rem;
  position: relative;
}

.gal-contact-button{
  padding: 1.5rem 2rem;
  font-size: 1rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 100;
  position: relative;
  border: none;
  letter-spacing: 3px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
}

.gal-contact-button:hover{
  opacity: .5;
}



/* xs */
@media (min-width: 475px) {
  .prev,
  .next{
    display: block;
  }

  .portraits-gallery{
    padding: 0 2rem;
  }
}

/* sm */
@media (min-width: 640px) {

  .gal-row{
    width: 50%;
    float: left;
    padding-bottom: 3rem !important;
  }
  
  .gal-odd{
    padding-right: 12px !important;
      padding-left: 12px !important;
  }
  .gal-even{
    padding-right: 12px !important;
      padding-left: 12px !important;
  }
}

/* md */
@media (min-width: 768px) {
  .portraits-gallery{
    width: 100%;
    border: none;
    margin-left: auto;
    padding-left: 0;
    margin-right: auto;
    padding: 0 4rem;
  }

}

/* Lg */
@media (min-width: 1024px) {
  .portraits-gallery{
    width: 100%;
    border: none;
    margin-left: auto;
    padding-left: 0;
    margin-right: auto;
    padding: 0 6rem;
  }
}

/* xL */
/* @media (min-width: 1288px) {} */

/* 2xL */
/* @media (min-width: 1536px) {}   */

