#nav{
  display: flex;
  justify-content: space-between;
  position: absolute; 
  align-items: center;
  top: 0;
  right: 0;
  left:0;
  z-index: 100;
  padding: 1rem;
  margin-bottom: .85rem;
  transition: background-color .4s ease-in-out;
  background-color: transparent;
}

.hamburger__btn{
  width: 30px;
  fill: white;
  border-radius: 2px;
  border: none;
  position: relative;
  top: 4px;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  /* transition: fill .4s ease-in-out; */
  z-index: 1000;
}

.hamburger__btn.close{
  top: 0;
  left: 2px;
  fill: black;
  transition: fill .15s ease-in-out;
  /* opacity: .5; */
  z-index: 1000;
}

.hamburger__btn.close:hover{
  /* fill: black; */
  opacity: .75;
  font-weight: 900;
}

/* .middle{
  opacity: 0;
} */
 
.hamburger__btn.close .top{
  transform: rotate(45deg) translate(-21px, -20px);
}

.hamburger__btn.close .middle{
  opacity: 0;
}

.hamburger__btn.close .bottom{
  transform: rotate(-45deg) translate(-68px, 5px);
}

#mobile{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  
}

#navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  list-style: none;
  text-decoration: none;
  position: fixed;
  top: 0;
  right: -270px;
  height: 100vh;
  width: 270px;
  background-color: white;
  padding: 80px 0 0 20px;
  transition: .5s ease-in;
  z-index: 1000;
}

#navbar.active{
  right: 0;
  transition: .5s ease-in-out;
}

/* .active{
  font-weight: 600;
  opacity: 1;
} */


.head{
  color: black;
  font-weight: 600;
}

.head:hover{
  opacity: .5;
}

.header__link{
  padding-right: 7px;
  /* padding-top: .75rem; */
  padding-top: .05rem;
  color: black;
  font-weight: 400;
}


.home-banner{
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  display: none;
}

.home-banner.slide-active{
  display: flex;
}

.home-banner-img-div{
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Custom;
  font-size: 6.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  background-position: center right 40%;
  background-size: cover;
  max-width: 2624px;
  width: 100%;
  height: 100vh;
  height: 100svh;
  top: 0;
  opacity: 1;
  object-fit: cover;
}

.home-banner-img-div img{
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.img1{
  object-position: 40% 15%;
}
.img2{
  object-position: 54% 15%;
}
.img3{
  object-position: 43% 95%;
}

.home-banner-text{
  position: absolute;
  left: 50%;
  top: 68%;
  transform: translate(-50%, -50%);
  width: max-content;
  font-family: "Varela Round", sans-serif;
  font-size: .65rem;
  color: white;
  letter-spacing: 8px;
  max-width: 300px ;
  text-transform: capitalize;
}

.home-banner-subtext{
  position: absolute;
  font-size: 10px;
  color: white;
  letter-spacing: 3px;
  font-family: "Varela Round", sans-serif;
  min-width: 260px ;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-90deg);
  bottom: 12rem;
  right: -9.5rem;
}

.banner-span{
  /* font-family: Custy; */
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 100;
  font-size: 4rem;
  position: absolute;
  top: -20px;
  left: 46%;
  transform: translateX(-50%);
  letter-spacing: initial;
  text-transform: initial;
}

.home-inner-span{
  position: relative;
  top: 1.5rem;
  left: 8px;
}

.home-title-text{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6rem;
  max-width: 1400px;
  margin: 4rem auto;
  padding: 0 1rem;
}

.home-title-div {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 3rem;
}

.home-title-img{
  margin-bottom: 2rem;
}

.and{
  position: relative;
  right: 2px;
  top: 8px;
  font-family: Custy;
  font-size: 3rem;
}

.name-ray{
  font-family: Custy;
  font-size: 2.75rem;
  position: relative;
  top: 6px;
}

.name-ay{
  font-family: Custy;
  font-size: 4rem;
  position: relative;
  top: 8px;
  left: 1px;
}

.home-title-headline{
  font-family: "Varela Round", sans-serif;
  margin-bottom: 2.5rem;
  /* text-transform: uppercase; */
  text-align: center;
  font-weight: 100;
}

.home-title-subline{
  /* font-family: "Lora", serif; */
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
  position: relative;
  font-size: 16px;
}

.home-title-subtext-div{
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 2rem;  
}

.home-title-toptext{
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.home-title-subtext-name{
  font-family: "Varela Round", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  letter-spacing: 2.5px;
  font-size: 1rem;
  text-transform: uppercase;
}

.home-title-subtext{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  letter-spacing: .25px;
  line-height: 2rem;
  max-width: 32.5rem;
  padding: 0 1rem;
}

.home-title-button{
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: rgba(25, 25, 25, 0.9);
  color: white;
  font-family: "Varela Round", sans-serif;
  border-radius: 2px;
  border: none;
  font-weight: 100;
  letter-spacing: 1.5px;
  transition: color 350ms ease, background-color 350ms ease-in-out;
}

.home-title-button:hover{
  background-color: rgb(110, 110, 110);
  color: white;
  border: none;
}

.home-title-img-div{
  position: relative;
}

.home-title-img-div div{
  position: relative;
  max-width: 260px;
}

.home-title-span{
  /* font-family: Custy;
  font-size: 3rem;
  position: absolute;
  top: 1rem;
  left: 2rem; */
  position: absolute;
  bottom: 10px;
  /* right: 1rem; */
  font-family: Marker ;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  color: black;
}
/* 
.welcome{
  position: relative;
  bottom: 10px;
  left: -10px;
} */

.indent{
  position: relative;
  bottom: 5px;
  left: 4px;
  padding-right: 4px;
}

.arrow{
  position: relative;
  top: .5rem;
  font-size: 1.25rem;
}

.wrapper{
  /* max-width: 600px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  /* height: 85vh; */
  scroll-behavior: smooth;
}

.wrapper .carousel{
  display: flex;
  overflow: hidden;
}

.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img{
  pointer-events: none;
}

.carousel img{
  height: 340px;
  object-fit: cover;
  width: calc(100% / 1);
  margin-left: 14px;
}

.carousel img:first-child{
  margin-left: 0px;
}

.home-prev,
.home-next{
  position: absolute;
  bottom: 1rem;
  z-index: 2;
  height: 2.5rem;
  width: 2.5rem;
  color: #ffffff;
  line-height: 1.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: none;
}

.home-prev:hover,
.home-next:hover{
  opacity: .8;
}

.home-prev:active,
.home-next:active{
  opacity: .8;
  color: black;
}
.home-prev{
left: 5%
}

.home-next{
right: 5%;
}

.home-categories{
  /* padding: 6rem 1rem 11rem 1rem; */
  /* background-color: rgb(245, 245, 245); */
  position: relative;
  /* overflow: hidden; */
  margin: 3rem 0 17rem;
}

.home-category-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem 6rem;
}

.home-category-title{
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-size: 1.5rem;
  /* position: absolute; */
  position: relative;
  font-weight: 100;
  letter-spacing: 4px;
  text-align: center;
  padding: 0 0 2rem;
  /* max-width: 32rem; */
  /* left: 1rem; */
}

.italics{
  font-style: italic;
  font-size: 1.75;
}

.home-category-text{
  font-family: "Varela Round", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.5px;
  font-size: 14px;
  text-transform: uppercase;
}

.gallery-link{
  cursor:default ;
}

.gal-link{
  cursor:default ;
}

.category-top{
  display: flex;
  position: relative;
  justify-content: center;
}

.category-middle{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6rem;
  max-width: 1400px;
  margin: 4rem auto;
  padding: 4rem 0;
}

.category-midbottom{
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 1400px;
  gap: 2rem;
  height: 35rem;
  margin: 2rem auto;
}

.category-bottom{
  display: flex;
  position: relative;
  justify-content: center;
  /* max-width: 1400px; */
  /* gap: 2rem; */
  height: 25rem;
  margin: 12rem auto 2rem;
}

.home-cat-div{
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;  
  padding: 0 1rem;
}

.home-cat-title{
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 300;
  font-size: 2.5rem;
}

.home-cat-text{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  letter-spacing: .25px;
  line-height: 2rem;
  padding: 0 1rem;
}

.home-cat-button{
  color: black;
  border: none;
  transition: color 350ms ease, background-color 350ms ease-in-out;
  z-index: 1;
  padding: 1rem 2rem;
  width: max-content;
  font-size: 1rem;
  background-color: rgba(25, 25, 25, 0.9);
  color: white;
  font-family: "Varela Round", sans-serif;
  border-radius: 2px;
  font-weight: 100;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.home-cat-button:hover{
  background-color: rgb(110, 110, 110);
  color: white;
  border: none;
}

.home-cat-slideshow{
  flex: 1;
  position: relative;
}

.cat-slide{
  position: relative;
  max-width: 240px;
  z-index: 10;
}


.cat-slide-img-topleft{
  position: relative;
  left: 3rem;
  object-fit: contain;
  border: 2.5px solid black;
  z-index: 3;
}

.cat-slide-img-topright{
  position: relative;
  top: 10rem;
}


.cat-slide-img-botleft{
  position: absolute;
  left: 0;
  max-width: 8rem;
}

.cat-slide-img-botmid {
  position: relative;
  top: 15rem;
  max-width: 15rem;
  z-index: 4;
}

.cat-slide-img-botmidleft{
  position: relative;
  top: 10rem;
  left: 3rem;
  z-index: 0;
  border: 4px solid white;
}

.cat-slide-img-botmidmid {
  position: relative;
  top: 23rem;
}

.cat-slide-img-botright{
  position: absolute;
  top: -6rem;
  right: 0;
  max-width: 10rem;
  z-index: 4;
  border: 4px solid white;
}

.cat-slide-img-botmidright {
  position: absolute;
  right: 1rem;
  top: 42rem;
  max-width: 17rem;
}

.cat-item{
  display: none;
}

.cat-item.cat-item-active{
  display: block;
  animation: fade 1.5s ease;
}

/* .cat-item.cat-item-active img{
  transition:  fade 5s ease-in-out;
} */

@keyframes fade{
  from {opacity: .8};
  to {opacity: 1;}
}

.cat-text-container{
  background-color: white;
  position: relative;
}

.cat-text{
  font-family: Custy;
  font-size: 2.5rem;
  position: absolute;
  width: 170px;
  top: -16rem;
  left: -6rem;
  font-weight: 100;
  flex-wrap: wrap;
  display: none;
}

.cat-text span{
  position: relative;
  bottom: .75rem;
  right: 2px;
}

.cat-text-container2{
  background-color: white;
  position: relative;
}

.cat-text2{
  font-family: Custy;
  font-size: 2.5rem;
  position: absolute;
  width: 200px;
  bottom: -16rem;
  left: -49rem;
  font-weight: 100;
  flex-wrap: wrap;
  display: none;
}

.cat-text2 span{
  position: relative;
  bottom: .75rem;
  right: 2px;
}

.item{
  display: none;
}

.item.item-active{
  display: block;
}

.item.item-active img{
  transition:  display 5s ease;
}

.home-mini-banner{
  position: relative;
  margin: 6rem 0 4rem;
  /* background-image: url(/img/Newspaper/news1.jpg);
  background-position: 18% 50%;
  background-size: cover;
  height: 35rem; */
}

.home-mini-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* background-color: rgb(245, 245, 245);
  opacity: 1;
  position: absolute;
  padding: 3rem;
  width: 27rem;
  top: 4rem;
  left: 1rem; */
}

.home-mini-title{
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 2rem;
  position: relative;
  font-weight: 100;
  letter-spacing: 5px;
  text-align: center;
}

.home-mini-text{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .25px;
  text-align: center;
  max-width: 45rem;
  line-height: 2rem;
  padding: 0 1rem;
}

.home-mini-quote{
  font-family: "Varela Round", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 12px;
  text-transform: uppercase;
}

.banner-top{
  position: absolute;
  top: -3rem;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 35rem;
  padding: 4rem 2rem;
}

.home-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 4rem auto 8rem;
  position: relative;
  max-width: 1400px;
}

.home-info-title{
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 2.5rem;
  /* position: absolute; */
  position: relative;
  font-weight: 100;
  letter-spacing: 5px;
  text-align: center;
  top: -1rem;
  max-width: 32rem;
  /* left: 1rem; */
}

.home-info-title-and{
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 2rem;
  /* position: absolute; */
  position: relative;
  font-weight: 100;
  letter-spacing: 5px;
  text-align: center;
  top: -1rem;
  max-width: 32rem;
  /* left: 1rem; */
}

.home-info-img{
  flex: 1;
  position: relative;
}

.info-img-top{
  position: absolute;
  width: 8.5rem;
  bottom: -4rem;
  left: -2rem;
  z-index: 3;
  border: 2px solid white;
}

.info-img-main{
  position: relative;
  z-index: 2;
  max-width: 260px;
}

.info-img-mainbot{
  position: relative;
  z-index: 2;
  max-width: 260px;
  top: 4rem;
}

.info-img-bot{
  position: absolute;
  width: 20rem;
  top: -3rem;
  left: -5rem;
  border: 3px solid black;
  z-index: 3;
}

.info-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  flex: 1;
  text-align: center;
  gap: 2rem;
  padding: 0 1rem;
}

.info-top,
.info-bottom{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6rem;
  max-width: 1400px;
  margin: 1rem auto;
  /* padding: 4rem; */
}

.info-title{
  font-family: "Varela Round", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 14px;
  text-transform: uppercase;
}

.info-text{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .25px;
  line-height: 2rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.info-button{
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: rgba(25, 25, 25, 0.9);
  color: white;
  font-family: "Varela Round", sans-serif;
  border-radius: 2px;
  border: none;
  font-weight: 100;
  letter-spacing: 1.5px;
  transition: color 350ms ease, background-color 350ms ease-in-out;
}

.info-button:hover{
  background-color: rgb(110, 110, 110);
  color: white;
  border: none;
}

.home-contact{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
}

.contact-text{
  font-family: Custy;
  color: black;
  font-size: 2.25rem;
  position: absolute;
  top: .5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  width: 160px;
}

.contact-img{
  object-fit: cover ;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.home-contact div{
  height: 360px;
}

.home-contact-button{
  padding: 1rem 2%;
  font-size: 1rem;
  background-color: rgba(25, 25, 25, 0.9);
  color: white;
  font-family: "Varela Round", sans-serif;
  border-radius: 2px;
  border: none;
  font-weight: 100;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 1.5px;
  transition: color 350ms ease, background-color 350ms ease-in-out;
  }


.home-contact-button:hover{
  background-color: rgb(110, 110, 110);
  color: white;
  border: none;
  
}

.mission{
  position: relative;
  z-index: 1000;
}

.mission-div{
  padding: 3rem 1rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-text{
  font-family: "Varela Round", sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  position: relative;
  max-width: 760px;
  z-index: 20;
  text-align: center;
  background-color: white;
  padding: 1.5rem 2.5rem;
  border: .25px solid darkgray;
  border-radius: 2px;
  line-height: 1.85rem;
  letter-spacing: 1px;
  font-size: 14px;
  /* text-transform: uppercase; */
}


.contact-container{
  position: relative;
  z-index: 101;
  padding: 6rem 0rem;
}
.contact-container::before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
  background: url(/img/Families/fam3.jpg);
  background-size: cover;
  filter: grayscale(100%) blur(8px);
}

.contact-title{
  /* font-family: Custy; */
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: rgba(0, 0, 0, 0.8);
  font-size: 4rem;
  position: absolute;
  font-weight: 100;
  letter-spacing: 5px;
  top: -2.5rem;
  width: 160px;
  left: 1rem;
  /* transform: translateX(-50%); */
}

.contact__mail{
  position: relative;
  max-width: 100%;
  margin: 0 auto ;
  top: 5rem;
  flex: 1;
  width: 67%;
}

.contact__form,
.contact__group{
  display: grid;
  row-gap: 2.5rem;
}

.contact__group{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__form{
  position: relative;
}

.contact__box{
  position: relative;
  width: 100%;
  height: 58px;
}

.contact__input,
.contact__button{
  outline: none;
  border: none;
}

.contact__input{
  position: absolute;
  width: 100%;
  height: 10%;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
  color: white;
  padding: 1rem .5rem;
  background-color: transparent;
  /* border: 1px solid rgba(85, 85, 85, 0.5); */
  transition: border .2s, background-color .2s;
}

/* .contact__input:hover{
  border-bottom: 1px solid rgb(210, 200, 200);
} */

/* .contact__input::placeholder{
  transition: opacity 1s; 
} */

.contact__input:focus{
  /* border-bottom: 1px solid rgb(210, 200, 200); */
  transition: 10ms ;
}

.contact__input:-webkit-autofill{
  transition: background-color 6000s, color 6000s;
}

.contact__label{
  position: absolute;
  top: -26px;
  left: 0;
  color: white;
  pointer-events: none;
  transition: top .4s, opacity .4s, background-color .4s;
  opacity: 1;
  /* width: 200px; */
  letter-spacing: 3px;
  font-size: 10px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}


.contact__form .contact__area{
  height: 8rem;
}

.contact__area textarea{
  resize: none;
  padding-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}


.contact-button{
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: rgba(25, 25, 25, 0.9);
  color: white;
  font-family: "Varela Round", sans-serif;
  border-radius: 2px;
  border: none;
  font-weight: 100;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 1.5px;
  transition: color 350ms ease, background-color 350ms ease-in-out;
  }


.contact-button:hover{
  background-color:  rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  
}

.contact__message{
  position: relative;
  top: 1rem;
  text-align: center;
  color: white;
}


.contact__input::placeholder{
  opacity: 0;
}

/* Hide placeholder */
.contact__input:focus::placeholder{
  opacity: 0;
}


@media(min-width: 400px){

  .home-title-toptext{
    font-size: 3rem;
  }

  .home-cat-title{
    font-size: 3rem;
  }

  .home-info-title{
    font-size: 3rem;
  }
}
 

@media(min-width: 475px){

  .home-category-text{
    font-size: 1rem;
  }

  .info-title{
    font-size: 1rem;
  }

  .home-cat-text{
    padding: 0;
  }

  .home-title-subline{
    font-size: 16px;
  }

  .home-title-toptext{
    font-size: 3.25rem;
  }

  .home-cat-title{
    font-size: 3.5rem;
  }

  .home-info-title{
    font-size: 3.5rem;
  }

  .home-title-text{
    padding: 0 4rem;
  }

  .home-inner-span{
    position: relative;
    top: 1.5rem;
    left: 4rem;
  }

  .contact__mail{
    width: 78%;
    padding: 0 1rem;
  }

  .home-contact-button{
    letter-spacing: 3px;
    padding: 1rem 2rem;
  }
}

/* @media(min-width: 540px){} */


@media(min-width: 768px){

  ul li a{
    color: white;
  }

  .home-banner{
    position: relative;
  }

  .home-banner-img-div{
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: Custom;
    font-size: 6.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    position: relative;
    /* background: url(/img/CTG-News3.jpg); */
    background-position: bottom 18% center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 2624px;
    width: 100%;
    height: 100vh;
    top: 0;
    opacity: 1;
    /* filter: grayscale(100%); */
  }

  
  .home-banner-text{
    position: absolute;
    font-family: "Varela Round", sans-serif;
    font-size: .75rem;
    color: white;
    letter-spacing: 8px;
    max-width: 360px ;
    text-align: center;
  }


  .banner-span{
    font-size: 5.5rem;
    top: -2.75rem;
  }

  .home-inner-span {
    top: 1.5rem;
    left: 2rem;
}

  .home-category-title{
    font-size: 1.75rem;
    padding: 0 2rem 2rem;
    max-width: 60rem;
  }

  .italics{
    font-style: italic;
    font-size: 2rem;
  }

  .home-title-text{
    margin-top: initial;
    margin-bottom: 1rem;
    padding: 0 2rem;
  }
  
  .home-title-img{
    margin-bottom: 0;
  }

  .home-title-div{
    display: flex;
    flex-direction: row;
    gap: 3rem;  
  }

  .home-title-subtext{
    text-align: left;
    padding: 0;
  }  
  
  .home-title-subtext-div{
    max-width: 35rem;
    align-items: normal;
  }

  .home-title-toptext{
   width: 22rem;
   font-size: 3.25rem;
   text-align: left;
  }

  .home-title-img-div div{
    max-width: 25rem;
  }

  .home-title-headline{
    text-align: start;
  }
  .home-title-subline{
    text-align: start;
    position: relative;
    bottom: 28px;
    margin-bottom: initial;
  }

  .home-cat-title{
    font-size: 3.5rem;
  }

  .cat-text{
    display: block;
    left: -5.25rem;
    top: -21.5rem;
    width: 175px;
  }

  .cat-slide{
    max-width: inherit ;
  }

  .category-top {
    gap: 7rem;
}

  .category-middle{
    flex-direction: row;
    padding: 2rem 4rem 4rem;
  }

  .category-bottom{
    height: 35rem;
    gap: 7rem;
    top: 12rem;
  }

  .cat-slide-img-topleft{
    max-width: 30rem;
    left: 4rem;
    z-index: 2;
  }

  .cat-slide-img-topright {
    right: 0;
    top: 5rem;
    max-width: 45rem;
  }

  .home-cat-slideshow{
    max-width: 25rem;
  }

  .home-cat-div{
    max-width: 26rem;
    align-items: normal;
    text-align: left;
  }
  
  .cat-slide-img-botleft {
    max-width: 17rem;
    left: -3rem;
    top: -4rem;
}

  .cat-slide-img-botmid{
    position: relative;
    max-width: 20rem;
    top: 14rem;
    left: 0;
  }

  .cat-slide-img-botmidleft {
    max-width: 30rem;
    top: -5rem;
    left: 4rem;
    z-index: 2;
  }

  .cat-slide-img-botmidmid {
    position: relative;
    top: 14rem;
    right: 0;
    max-width: 45rem;
}

  .cat-slide-img-botmidright {
    max-width: 20rem;
    top: 47rem;
    right: 0;
    left: inherit;
  }

  .cat-slide-img-botright {
    max-width: 12rem;
    right: 2rem;
    top: -2rem;
  }

  .gallery-span{
    font-size: 16px;
  }

  .mission-div{
    padding: 4rem 4rem 6rem;
  }

  .mission-text{
    padding: 2.85rem;
  }

  .home-mini-banner{
    position: relative;
    margin: 6rem 0 4rem;
    background-image: url(/img/Newspaper/news1.jpg);
    background-position: 18% 50%;
    background-size: cover;
    height: 38rem;
  }
  
  .home-mini-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgb(245, 245, 245);
    opacity: 1;
    position: absolute;
    padding: 3rem;
    width: 27rem;
    top: 4rem;
    left: 1rem;
  }

  .home-mini-text{
    text-align: left;
  }

  .home-mini-title{
    font-size: 2.35rem;
  }

  .home-info-img{
    max-width: 15rem;
  }

  .info-div{
    max-width: 30rem;
    text-align: left;
    align-items: initial;
    padding: 0 2rem;
  }

  .info-text{
    text-align: left;
    padding: 0;
  }
  
  
  .home-info-title{
    text-align: left;
    font-size: 3.5rem;
  }

  .home-info-title-and{
    text-align: left;
    font-size: 2.35rem;
  }
  
  .info-top,
  .info-bottom{
    flex-direction: row-reverse;
    padding: 2rem 0rem 4rem;
    gap: 3rem;
  }

  .info-img-main{
    max-width: inherit;
  }

  .info-img-mainbot{
    max-width: inherit;
    top: inherit;
  }

  .info-img-bot {
    left: -4rem;
    top: -8rem;
}

  .info-img-top {
    position: absolute;
    width: 8rem;
    bottom: -7rem;
    right: 1rem;
    left: inherit;
}
  
  .contact-title{
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.8);
    left: 1rem;
    top: -4rem;
    letter-spacing: 14px;
    transform: inherit;
  }

  .contact__group{
    flex-direction: row;
  }

  .contact__mail{
    width: 45%;
    padding: 0;
    top: 3rem;
  }

  .home-contact div{
    height: 420px;
  }

  .home-contact-button{
    bottom: 3.25rem;
    border: 1px solid black;
  }

  .header__link{
    padding-top: 1.3rem;
    color: white;
    font-weight: 400;
  }
  
  .socials{
    position: relative;
    left: 2px;
  }
  
.mobile__btn{
  display: none;
}

.hamburger__btn{
  display: none;
}

.header__menu-right{
  display: none;
}

#navbar{
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: normal;
  gap: 1.2rem;
  list-style: none;
  text-decoration: none;
  position: inherit;
  top: 1px;
  right: 12px;
  height: inherit;
  width: initial;
  background-color: initial;
  padding: initial;
  z-index: 100;
  transition: none;
  box-shadow: none;
}

#nav{
  position: absolute;
}
}


@media(min-width: 1024px){

  .cat-text{
    display: block;
    left: -22rem;
    width: 170px;
  }

  .cat-text2{
    display: block;
  }

  .home-cat-title{
    font-size: 4rem;
  }

  .home-info-title{
    font-size: 4rem;
  }
  
  .home-title-text{
    padding: 0 4rem;
  }

  .home-title-div{
    gap: 6rem;
    padding: 2rem 0 0;
  }

  .home-title-toptext{
    width: 30rem;
    font-size: 4rem;
   }

  .category-middle{
    gap: 6rem;
    padding: 0 0 4rem;
  }

  .category-bottom{
    top: 0;
    height: 32.5rem;
  }

  .cat-slide-img-botleft{
    max-width: 19rem;
    left: -2rem;
    top: 3rem;
  }
  
  .cat-slide-img-botmidleft {
    max-width: 24rem;
    top: 7rem;
    left: 4rem;
    z-index: 2;
}

  .cat-slide-img-botmid {
    max-width: 25rem;
    top: 7rem;
}

.cat-slide-img-botmidmid {
  position: relative;
  top: 14rem;
  right: 0;
  max-width: 34rem;
}

.cat-slide-img-botmidright {
  max-width: 20rem;
  top: 41rem;
}
  
  .cat-slide-img-botright {
    max-width: 12rem;
    right: 2rem;
    top: -2rem;
}

.home-info-img{
  max-width: 20rem;
}

.info-div{
  padding: 0 1rem;
}

.info-img-top {
  width: 10rem;
  bottom: -4rem;
  right: -4rem;
}

  .info-top,
  .info-bottom{
    gap: 6rem;
    padding: 2rem 4rem 4rem;

  }

  .info-img-bot{
    width: 20rem;
    top: -10rem;
    z-index: 0;
  }

}




@media(min-width: 1240px){

  .category-middle{
    gap: 10rem;
  }
  
  .category-bottom{
    top: 0;
    height: 35rem;

  }

  .home-title-div{
    gap: 10rem;
    padding: 0 0 4rem;
  }

  .cat-slide-img-topright {
    right: 0;
    top: 7rem;
    max-width: 45rem;
}

.cat-slide-img-botmidleft {
  max-width: 30rem;
  top: 0rem;
  left: 4rem;
  z-index: 2;
}

  .cat-slide-img-botmidright {
    max-width: 24rem;
    top: 33rem;
}

  .cat-slide-img-botright {
    max-width: 14rem;
    top: 2rem;
  }


  .cat-slide-img-botmid{
    max-width: 29rem;
    top: -3rem;
  }

  .cat-slide-img-botmidmid {
    position: relative;
    right: 0;
    top: 7rem;
    max-width: 45rem;
  }

  .info-top,
  .info-bottom{
    gap: 10rem;
  }

  .info-img-bot{
    width: 20rem;
    top: -10rem;
    left: -12rem;
  }

}
