.portraits-gallery{
  width: calc(100% - 1rem);
  margin: 10px auto;
  columns: 2;
  column-gap: 10px;
  
}

.row{
  margin-bottom: 10px;
}

.rodney-video{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}