


img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.test-image-container > div{
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .test-image-container > div > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    } 

.test-image-container{
  position: relative;
  margin: auto 5px;
  display: flex;
  flex-direction: column;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  grid-gap: 5px;
} 

.test-image-container .wide{
  grid-column: span 2;
}
.test-image-container .tall{
  grid-row: span 2;
}
.test-image-container .xl{
  grid-row: span 3;
}

.test-image-container .big{
  grid-column: span 2;
  grid-row: span 2;
}
.test-image-container .huge{
  grid-column: span 3;
  grid-row: span 3;
}


/* xs */
@media (min-width: 475px) {
  .test-image-container{
    display: grid;
    flex-direction: initial;
    grid-template-columns: auto auto auto auto ;
  
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .test-image-container{
 
    grid-template-columns: auto auto auto ;

  }
}

/* Lg */
@media (min-width: 1024px) {
  .test-image-container{
 
    grid-template-columns: auto auto auto auto ;

  }
}

/* xL */
/* @media (min-width: 1288px) {} */

/* 2xL */
/* @media (min-width: 1536px) {}   */
